body {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    overflow-x: hidden;
}
header {
  height: 60px;
  text-align: center;
  background-color: orangered;
}
.middle-section {
  display: flex;
  height:calc(100vh - 160px);
}
.column{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.navigation {
  width: 100px;
  background-color: rgb(255, 123, 0);
  padding: 10px;
  box-sizing: border-box;
  height:100%;
}
.main {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  background-color: blanchedalmond;
  text-align: center;
}
.sidebar {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 166, 0, 0.897);
  height:100%;
}
footer {
  background-color: rgba(128, 128, 128, 0.737);
  padding: 40px;
  text-align:center;
  margin-top: 3px;
  height: 100px;
  width: 100%;
  bottom:0;
}
